<main>
  <div class="jumbotron jumbotron-fluid">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="container">
      <div class="row">
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
          <div>
            <h1 class="toppage-title font-weight-bold">
              ようこそ<br>
              ゲームマニアへ！！
            </h1>
            <p class="toppage-overview font-weight-bold">
              ここはレトロゲームや最新ゲームを問わず</br>
              ゲーム好きな人達が熱く語り合う場です。
            </p>
          </div>
          <div class="btn-wrapper col-10 mx-auto">
            <% if user_signed_in? %>
              <div class="row">
                <a class="btn btn-info btn-sm btn-block mb-3" href="/users/sign_in">ログイン</a>
              </div>
              <div class="row">
                <a class="btn btn-success btn-sm btn-block mb-3" href="/users/sign_up">ユーザー登録</a>
              </div>
            <% else %>
              <div class="row">
                <a class="btn btn-info btn-sm btn-block mb-3" href="/users/sign_in">ログイン</a>
              </div>
              <div class="row">
                <a class="btn btn-success btn-sm btn-block mb-3" href="/users/sign_up">ユーザー登録</a>
              </div>
              <div class="row">
                <a class="btn btn-primary btn-sm btn-block" data-method="post" href="/users/guest_sign_in">ゲストログイン（閲覧用）</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
