<main>
  <div class="jumbotron jumbotron-fluid">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="container">
      <div class="row">
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
          <div>
            <h1 class="text-primary font-weight-bold">
              ようこそ<br>
              ゲームマニアへ！！ 
            </h1>
            <p class="text-light font-weight-bold">ここはレトロゲームや最新ゲームを問わず</p>
            <p class="text-light font-weight-bold">ゲーム好きな人達が熱く語り合う場です。</p>
          </div>
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
            </div>
            <div class="row">
              <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">ユーザー登録</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
